extends meta

block homepage
    div.wrapper
        img(src='./portrait.JPG').portrait
        h1.bodyStyle Hi! I'm Doug. &#128075;
        h3.bodyStyle I'm a software engineer. My goal is to constantly improve and refine my skillset, and write beautiful code while I'm at it. 
        h3.bodyStyle I'm also a proud #[a(href="https://www.vt.edu") Virginia Tech] Grad (Go Hokies! &#129411;) and Virginian turned North Carolinian. I currently live and work in the #[a(href="https://www.researchtriangle.org/the-triangle/") Research Triangle] region of North Carolina (and loving every second of it!)
        h3.bodyStyle If you are in need of a full stack web developer, or maybe you just want to talk coffee or cars, please don't hesitate to reach out. Check out my #[a(href="https://www.linkedin.com/in/douglas-botello-436a57132/") LinkedIn profile] or view my resume and shoot me an email below.
        h3.bodyStyle #[span.fa-regular.fa-file-pdf.fa-3x ] Resume
        form(action="https://formspree.io/f/mjvnrjdk", method="POST")
            label Your email:
            input(type="email" name="email")
            label Your message: 
            input(type="message" name="message")
            button(type="submit") Send!