.wrapper {
    display:inline-block;
    margin-left: 20%;
    margin-right: 20%;
    margin-top: 4em;
}

.bodyStyle {
    font-family: Arial, Helvetica, sans-serif;
    font-weight: lighter;
    line-height: 26px;
}

.portrait {
    width: 200px;
    height: 200px;
    float: left;
    margin-right: 1em;
    margin-bottom: .5em;
}

h1 {
    margin-top: 0px;
}

a {
    color: maroon;
    text-decoration: none;
}

img {
    border-radius: 5%;
}

@media screen and (max-width: 900px) {
    .wrapper{
        margin-left: 10% !important;
        margin-right: 10% !important;
    }
}